*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background: #fff;
    overflow: hidden;
}

.container{
    text-align: center;
}

#content-preload{
    display: none;
    height: 20vh;

}

#content{
    height: 60vh;

}

#text{
    font: 1.4rem bold Verdana, sans-serif;

}